#fieldsContainer input{
   border: 1px solid #cfd1d3;
   border-radius: 4px;
}
#fieldsContainer {
    margin-left: 15px !important;
}
#fieldsContainer input[type="file"] {
    border: none !important;
}

.size-label,.coor-label,.Image-label {
    margin-left: 10px;
    margin-right: 6px;
}

/* .btn.focus, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
} */
.border {
    border: none !important;
}
.trorder{
    margin-top: -55px;
}


.mainbox {
    background-color: #95c2de;
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
  }
  
   .err2 {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
.anchor-tag{
    text-decoration: none;
    color: white;
  }
  
  .anchor-tag:hover {
    text-decoration: underline;
  }