{% extends 'static_pages/base.html' %}
{% load static %}
{% block content %}


<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid d-flex px-5">
      <div>
          <div class="navbar-brand  animate__animated animate__fadeInLeft" href="#">
            <img src="{% static 'images/logo-removebg-preview.png'%}" alt="" height="50" width="90">
          </div>
      </div>
    <div class="profile-details animate__animated animate__fadeInRight animate__delay-1s d-flex justify-content-center align-items-center">
      <div class="dropdown mx-2" >
        <button class="btn btn-transparent "  type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'images/profile-icon.png' %}" class="profile-img" alt="IMG">
        </button>
        <div class="dropdown-menu shadow px-5  bg-white rounded animate__animated animate__zoomIn " aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/profile/">Edit Profile</a>
          <a class="dropdown-item" href="/orders/">Orders</a>
          <a class="dropdown-item" href="/logout/">logout</a>
       
        </div>
       
      </div>
      <div>
        {% if user_data %}
        <h5 class="text-light">{{ user_data.first_name }}</h5>
        {% endif %}
      </div>
      
      
      {% for portitem in userdata %}
     
      <h5 class="text-light" >{{portitem.FirstName}}</h5>
      {% endfor %}
    </div>
  </div>
</nav>
 

<div class="container mt-5 pt-5  pb-5">
  <h1 class="text-center mb-5">Profile Details</h1>

  <form class="needs-validation mb-5" id="profile_data" method="POST" novalidate>
    {% csrf_token %}
    {% if messages %}
    {% for mes in messages %}
    <span class="text-danger text-center">{{ mes }}</span>
    {% endfor %}
    {% endif %}
    {% if user_data %}
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom01">First Name</label>
        <input type="text" value="{{ user_data.first_name }}" class="form-control" id="validationCustom01" required
          disabled>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationCustom02">Last Name</label>
        <input type="text" value="{{ user_data.last_name }}" class="form-control" id="validationCustom02" required
          disabled>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationCustom03">Phone No</label>
        <input type="number" value="{{ user_data.username }}" class="form-control" id="phone" name="phone" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">Mail Id</label>
        <input type="text" value="{{ user_data.email }}" class="form-control" id="validationCustom04" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3">

        <label for="validationCustom09">Address Type</label>
        <select class="form-control" id="address_type" name="address_type" required>
          <option value="" disabled selected>Select an address type</option>
          <option value="home">Home</option>
          <option value="work">Work</option>
          <option value="personal">Personal</option>
        </select>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom10">Reciepent Name </label>
        <input type="text" class="form-control" id="reciepent_name" name="reciepent_name" required>
        <div class="invalid-feedback">
          Please provide a valid Reciepent Name
        </div>
      </div>
    </div>
    <div class="form-row">
     
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Door No</label>
        <input type="text" class="form-control" id="door-no" name="door-no" required>
        <div class="invalid-feedback">
          please enter door no
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">LandMark</label>
        <input type="text" class="form-control" id="landmark" name="landmark" required>
        <div class="invalid-feedback">
          Please enter landmark
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Area Name</label>
        <input type="text" class="form-control" id="Area_name" name="Area_name" required>
        <div class="invalid-feedback">
          Please enter area name
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Village</label>
        <input type="text" class="form-control" id="village" name="village" required>
        <div class="invalid-feedback">
          Please enter village name
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Mandal</label>
        <input type="text" class="form-control" id="mandal" name="mandal" required>
        <div class="invalid-feedback">
          Please enter mandal
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">District/City/Town</label>
        <input type="text" class="form-control" id="district" name="district" required>
        <div class="invalid-feedback">
          Please enter district
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom06">State</label>
        <select class="custom-select" id="state" name="state" required>
          <option selected disabled value="">Choose...</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
        </select>
        <div class="invalid-feedback">
          Please select your state.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom07">Zip Code</label>
        <input type="text" class="form-control" id="postal-code" name="postal-code" required>
        <div class="invalid-feedback">
          Please enter postal code.
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submit.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit </button>
    {% endif %}
  </form>
  <!-- cards  -->

  <!-- <div class="row">
  {% for profile in oUser_data %}
  <div class="card-name shadow bg-rounded col-lg-4 col-12 col-md-6">
      <h4>Recipient: {{ profile.Reciepentname }}</h4>
      <p>City: {{ profile.city }}</p>
      <p>Zip Code: {{ profile.zip_code }}</p>
     
      <p>Address: {{ profile.address }}</p>
  </div>
  {% endfor %}
</div> -->
  <!-- ... cards views for address end  ... -->



</div>

{% endblock %}

    
  

















   


    
  

















   
